# App Server Configuration
PORT=8003
ENV=development
APP_NAME=content-service
LOG_LEVEL=debug

# Database Configuration
DB_SCHEMA_NAME=content_service
DB.URL=postgres://postgres:password@host.docker.internal:5438/playground?sslmode=disable&search_path=content_service

# Inter-Service Communication (Auth Service)
AUTH_SERVICE_URL=http://auth-service:8004
AUTH_SERVICE_GRPC_ADDR=auth-service:9004
