# App Server Configuration
PORT=8004
GRPC_PORT=9004
APP_NAME=auth-service

# Database Configuration
DB_SCHEMA_NAME=auth_service
DB.URL=postgres://postgres:password@host.docker.internal:5438/playground?sslmode=disable&search_path=auth_service

# JWT Configuration
JWT.ADMIN_KEY=your-admin-api-key
JWT.SECRET=your-jwt-secret-key-change-this-in-production
JWT.ALG=HS256
JWT.KID=SIM2
JWT.DURATION_IN_MINUTES=60
JWT.DURATION_IN_MINUTES_FOR_REFRESH_TOKEN=10080
