# App Server Configuration
PORT=8005
APP_NAME=media-service

# Database Configuration
DB_SCHEMA_NAME=media_service
DB.URL=postgres://postgres:password@host.docker.internal:5438/playground?sslmode=disable&search_path=media_service

# Cloudinary Integration (Image Uploads)
CLOUDINARY.CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY.API_KEY=your-cloudinary-api-key
CLOUDINARY.SECRET=your-cloudinary-secret-key
