"auth/signer": {
  "alg": "{{ .env.validate_token.alg }}",
  "kid": "{{ .env.validate_token.kid }}",
  "keys_to_sign": ["access_token", "refresh_token"],
  "jwk_local_path": "{{ .env.validate_token.jwk_local_path }}",
  "disable_jwk_security": {{ .env.validate_token.disable_jwk_security }}
}