{{ template "_endpoints_healthcheck.tmpl" .}},
{{ template "_endpoints_auth.tmpl" .}},
{{ template "_endpoints_content.tmpl" .}},
{{ template "_endpoints_media.tmpl" .}},
{{ template "_endpoints_user_follow.tmpl" .}},
{{ template "_endpoints_chat.tmpl" .}}
